	.card{
		background:white;
		width:250px;
		height:150px;
		margin-top:10px;
		padding:10px;
		border-radius:5px;	
	}
	
	.agileColumn > div > table{
		background: rgba(0,0,0,0);
		
	}
	
	.agileColumn > div > table > thead{
		display:none;
	}
	
	.agileColumn > div > div> div > table > tbody> tr > td{
		background:rgba(0,0,0,0);
		border:none !important;
	}
	
	.agileColumn > div > table > tbody> tr{
		background:rgba(0,0,0,0);
		border:none !important;
	}

	.agileColumn > div > table > tbody{
		background: #eaeaea;
		border:none !important;
	}
	
	.agileColumn > .ui-datatable-scrollable-body{
		height:80vh;
		background:#eaeaea;
	}
	