<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ar="http://alexscottrhodes.com/facelets/pfe">

<h:head>
<h:outputStylesheet name="style/demo.css" />
</h:head>
<h:body>
<h:form id="agile">
	
		<c:forEach var="i" begin="0" end="2">
			<p:outputPanel id="drop#{i}" style="margin-top:20px;display:inline-block;margin-left:20px;">
				<p:dataTable id="agTable#{i}" styleClass="agileColumn" value="#{testBean.getCardsByList(i)}" var="cname" style="width:300px;" scrollable="true">
					<p:ajax event="rowReorder" listener="#{testBean.onReorder}"/>
					<p:column>
						<p:outputPanel styleClass="card">
							<h:outputText value="#{cname}"/>
							<p:draggable revert="true" helper="clone"/>
						</p:outputPanel>
					</p:column>
				</p:dataTable>
				<ar:droppable datasource="#{testBean.dataSourceString}">
					<p:ajax listener="#{testBean.wasDrop}"/>
				</ar:droppable>
			</p:outputPanel>
		</c:forEach>
</h:form>
</h:body>
</html>











